/* Animacja tła */
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Stylizacja navbaru */
.navbar {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    backdrop-filter: blur(10px);
}

/* Jasny motyw */
.about-section {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px 15%;
    min-height: 700px;
    background: linear-gradient(to right, #f06, #ff4d4d, #fff);
    background-repeat: no-repeat;
    background-size: 300% 300%;
    background-attachment: fixed;
    background-position: 0% 50%;
    animation: gradientAnimation 5s ease infinite;
}

/* Ciemny motyw */
.dark-mode .about-section {
    background: linear-gradient(to right, #333, #555, #111);
    color: white;
}

.about-section .content {
    text-align: left; /* Zawsze wyrównanie do lewej */
    z-index: 2;

    .social_icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: white;

        svg {
            font-size: 1.8em;
        }
    }

    .mobile_social_icons {
        display: none;
    }

    p {
        font-size: 1.5em;
        margin-block-start: 0px;
        margin-block-end: 0px;
        text-align: left; /* Zawsze wyrównanie do lewej */
    }

    h1 {
        font-size: 5em;
        margin-block-start: 0px;
        margin-block-end: 0px;
        text-align: left; /* Zawsze wyrównanie do lewej */
    }
}

.about-section .image-wrapper {
    z-index: 2;
    img {
        width: 150px;
        border-radius: 50%;
    }
}

.about p {
    text-align: left; /* Zmienione z center na left */
    padding-top: 30%;
    padding-bottom: 30%;
}

@media screen {
    @media (max-width: 567px) {
        .nav-left {
            padding-top: 20px;
            float: left;
        }

        .nav-left img {
            height: 35px;
        }

        .nav-right {
            float: right;
        }

        .nav-right li {
            padding: 10px 15px;
            list-style: none;
            font-size: 13px;
            color: white;
            width: 10%;
        }

        .nav-right ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }

        body {
            width: 100%;
        }

        .about {
            padding-left: 5%;
            padding-right: 5%;
            font-size: 12px;
        }
    }

    @media (max-width: 768px) {
        .about-section {
            display: flex;
            flex-direction: row;
            padding: 150px 5% 5% 5%;
            gap: 20px;
            align-items: center;
        }

        .about-section h1 {
            font-size: 3em !important;
            text-align: left; /* Dodatkowe zapewnienie wyrównania do lewej */
        }

        .container {
            display: initial;
        }

        .social_icons {
            display: none !important;
        }

        .mobile_social_icons {
            padding-top: 10px;
            display: flex !important;
            flex-direction: row;
            gap: 10px;
            color: white;

            svg {
                font-size: 1.8em;
            }
        }

        .about-section .content {
            flex: 1;
            width: auto;
            padding: 0;
            text-align: left; /* Dodatkowe zapewnienie wyrównania do lewej */
        }

        .about-section .image-wrapper {
            padding: 0;
            width: auto;
        }
    }
}